body{
	background-color: black;
}

h1{
	float:left;
	color: white;
}
h2{
	float:right;
	color: white;
}
label{
	text-align: right;
	color: white;
}
.food-Pyramid{
	padding-top:100px;
}

.ButtonsContainer{
	display:flex;
	justify-content: center;
	margin-top: -21.5px;

}
.text{
	position: absolute;
	top:60%;

	color:black;
	font-size: 35;

}
.Button{
	color: black;
	border: 2px solid black;
	background-color: white;
	border-radius: 50%;
	position: relative;
	transform: translate(0%, 350%);
}

.Display{
	color: black;
	border: 2px solid black;
	background-color: white;
	border-radius: 100%;
	position: relative;
	transform: translate(0%, 350%);
	font-size: 17;
	text-align: center;

	width: 17px;
    height: 17px;

}

.One{
	z-index: 8;
	position: relative;
}
#Layer-One {
	position: relative;
	margin: auto;
	border-bottom: 100px solid #FF6460;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	width: 0;
	height: 0;
	-
}
#Container-One{
	visibility: hidden;
}

#Layer-One:hover {
	border-bottom: 100px solid red;
}
#Layer-One:hover  #Container-One, #Container-One:hover{
	visibility: visible;
}

.Two{
	z-index: 6;
	position: relative;
}

#Layer-Two{
	margin: auto;
	border-bottom: 80px solid #C95AFF;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	width: 220px;
}
#Container-Two{
	visibility: hidden;
}
#Layer-Two:hover{
	border-bottom: 80px solid #9A00E1;
}
#Layer-Two:hover  #Container-Two, #Container-Two:hover{
	visibility: visible;
}

.Three{
	z-index: 4;
	position: relative;
}
#Layer-Three{
	margin: auto;
	border-bottom: 80px solid #FFF16E;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;

	width: 400px;
}
#Container-Three{
	visibility: hidden;
}
#Layer-Three:hover #Container-Three, #Container-Three:hover{
	visibility: visible;

}
#layer-Three:hover{
	border-bottom: 80px solid #FFEC01;
}


.Four{
	z-index: 3;
	position: relative;
}
#Layer-Four{
	margin: auto;
	border-bottom: 80px solid #0095FF;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;

	width: 560px;
}
#Container-Four{
	visibility: hidden;
}
#Layer-Four:hover #Container-Four, #Container-Four:hover{
	visibility: visible;

}
#layer-Four:hover{
	border-bottom: 80px solid #005FFF;
}


.Five{
	z-index: 2;
	position: relative;
}

#Layer-Five{
	margin: auto;
	border-bottom: 80px solid #86FF60;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	width: 720px;
}
#Container-Five{
	visibility: hidden;
}
#Layer-Five:hover #Container-Five, #Container-Five:hover{
	visibility: visible;

}
#layer-Five:hover{
	border-bottom: 80px solid #36DB00;
}

.Six{
	z-index: 1;
	position: relative;
}

#Layer-Six{
	margin: auto;
	border-bottom: 80px solid #FFC560;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	width: 880px;
}


#Container-Six{
	visibility: hidden;
}

#Layer-Six:hover #Container-Six, #Container-Six:hover{
	visibility: visible;

}
#layer-Six:hover{
	border-bottom: 80px solid orange;

}

#Blank-One {
	margin: auto;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 200px;
	z-index: 7;
	position: relative;
}

#Blank-Two {
	margin: auto;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 380px;
	z-index: 5;
	position: relative;
}
